<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx.xsd">
	<!-- 读取文件 PROPERTIES配置文件 -->
	<context:property-placeholder location="classpath:dbconfig.properties" />
	<!-- 扫描注解包 -->
	<context:component-scan base-package="com"></context:component-scan>
	<!-- 配置连接池 c3p0 -->
	<bean id="dataSourse" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="jdbcUrl" value="${url}"></property>
		<property name="driverClass" value="${driver}"></property>
		<property name="user" value="${user}"></property>
		<property name="password" value="${password}"></property>
	</bean>

	<!-- 配置mybaits的属性以及核心 -->
	<bean id="sqlSessionFactoryBean" class="org.mybatis.spring.SqlSessionFactoryBean">
		<!-- 核心 配置 读取文件 -->
		<property name="configLocation" value="classpath:mybatis-config.xml"></property>
		<property name="mapperLocations" value="classpath:com/mapper/*.xml"></property>
		<!-- <property name="typeAliasesPackage" value="com.bdqn.ssm.pojo"></property> -->
		<property name="dataSource" ref="dataSourse"></property>
	</bean>
	<!-- 配置mapper接口转换 扫描接口生成代理对象proxy -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.dao"></property>
		<property name="beanName" value="sqlSessionFactoryBean"></property>
	</bean>
	
	<!-- (事务管理)transaction manager, use JtaTransactionManager for global tx -->
	<!-- <bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean> -->

	<!-- 关键代码，程序员配置 -->
	<!-- 自定义Realm -->
	<!-- <bean id="customerRealm" class="com.realms.CustomerRealm">
	      
	</bean> -->



</beans>
