<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.OrdersDao">  <!-- namespace必须跟dao 名相同 -->

    <select id="findAll" resultType="com.entity.Orders">
       select * from  orders
    </select>
       
</mapper>